name: Deploy Storybook for a Branch (Manual Trigger)

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        required: true

jobs:
  build-and-deploy-storybook:
    runs-on: ubuntu-latest
    concurrency:
      group: "pages"
      cancel-in-progress: true
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout selected branch
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup
        uses: ./.github/actions/setup-project

      - name: Build Storybook
        run: pnpm run build:storybook

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Storybook artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./storybook-static

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
