name: Release to npm

on:
  # manual
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup
        uses: ./.github/actions/setup-project
      - name: Build
        run: pnpm run build
      - run: pnpm dlx --package semantic-release@beta semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
